<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="basket-outline"></ion-icon> Ваш кошик</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
     <ion-refresher-content></ion-refresher-content>
   </ion-refresher>

  <ion-list [inset]="true" *ngIf="showEmptyMsg == false">
    <ion-list-header>
      <ion-label><b>Ваші товари</b></ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let product of products">
        <ion-item>
          <ion-label class="product-line">
            <div class="image">
              <img src="{{product.image}}" alt="{{product.name}}">
            </div>
            <div class="caption">
              <h4>{{product.name}}</h4>
              <p *ngIf="product.specials == false"> {{ product.price }} <small *ngIf="product.unit"> /{{product.unit}}</small></p>
              <p *ngIf="product.specials == true">{{ product.special }} <small *ngIf="product.unit"> /{{product.unit}}</small> <span class="old-price">{{ product.price }}</span></p>
              <div class="total-product">
                <div class="qty">
                  <div class="qty-box">
                    <ion-button (click)="updateQuantity(product.product_id, '-');" size="small" fill="clear"><ion-icon name="remove-outline"></ion-icon></ion-button>
                    <p>{{ product.quantity }}</p>
                    <ion-button (click)="updateQuantity(product.product_id, '+');" size="small" fill="clear"><ion-icon name="add-outline"></ion-icon></ion-button>
                  </div>
                </div>
                <div class="total">
                   {{product.total}}
                </div>
              </div>
            </div>
            <div class="arrow-slide">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
          </ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger">
            <ion-icon (click)="removeProduct(product.product_id)" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-list [inset]="true">
        <ion-list-header>
        <ion-label><b>Адреса</b></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let address of addresses">
        <ion-label class="address-line">
          <div class="name">{{ address.short }}</div>
          <div class="check"><ion-toggle aria-label="address.short" (click)="changeDefaultAddress(address.address_id)" [checked]="isDefaultAddress(address.address_id)"></ion-toggle></div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="show_add_address">
        <ion-label>
          <p>У вас ще немає адреси. Будь ласка додайте адресу.</p>
          <ion-button (click)="addAddress()" expand="full">
            Додати адресу
<ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    <!--Next row-->
    <ion-list-header>
      <ion-label><b>Метод оплати</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let payment of payments">
      <ion-label class="address-line">
        <div class="name">{{ payment.name }}</div>
        <div class="check"><ion-toggle aria-label="payment.name" (click)="changePayment(payment.payment_id)" [checked]="isSelectedPayment(payment.payment_id)"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-list-header>
      <ion-label><b>Метод доставки</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let shipping of shippings">
      <ion-label class="address-line">
        <div class="name">{{ shipping.name }} <br><small>- {{ shipping.cost }}</small></div>
        <div class="check"><ion-toggle aria-label="shipping.name" (click)="changeShipping(shipping.shipping_id)" [checked]="isSelectedShipping(shipping.shipping_id)"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-list-header>
      <ion-label><b>Замовлення загалом</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let total of totals">
      <ion-label class="address-line">
        <div class="caption">{{total.title}}</div>
        <div class="total">{{total.value_format}}</div>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="totals == ''">
      <ion-label>
        <p>Оберіть метод оплати та доставки</p>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>
        <ion-button [disabled]="disablePaymentButton" (click)="processPayment()" expand="full">Підтвердити <ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-label>
    </ion-item>
    </ion-list>

  </ion-list>




<ion-note *ngIf="showEmptyMsg == true" class="ion-text-center ion-justify-content-center empty-cart">
<div>
  <ion-icon name="cart-outline"></ion-icon>
    <p>Ваш кошик порожній<br>
    Саме час додати товари :)</p>
  </div>
</ion-note>
</ion-content>
