<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="basket-outline"></ion-icon> Оформлення замовлення</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
     <ion-refresher-content></ion-refresher-content>
   </ion-refresher>

  <ion-list  *ngIf="showEmptyMsg == false">
    <ion-list-header>
      <ion-label><b>Товари</b></ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let product of products">
        <ion-item>
          <ion-label class="product-line">
            <div class="image">
              <img src="{{product.image}}" alt="{{product.name}}">
            </div>
            <div class="caption">
              <h4>{{product.name}}</h4>
              <p *ngIf="product.specials == false"> {{ product.price }} <small *ngIf="product.unit"> /{{product.unit}}</small></p>
              <p *ngIf="product.specials == true">{{ product.special }} <small *ngIf="product.unit"> /{{product.unit}}</small> <span class="old-price">{{ product.price }}</span></p>
              <div class="total-product">
                <div class="qty">
                  <div class="qty-box">
                    <ion-button (click)="updateQuantity(product.product_id, '-');" size="small" fill="clear"><ion-icon name="remove-outline"></ion-icon></ion-button>
                    <p>{{ product.quantity }}</p>
                    <ion-button (click)="updateQuantity(product.product_id, '+');" size="small" fill="clear"><ion-icon name="add-outline"></ion-icon></ion-button>
                  </div>
                </div>
                <div class="total">
                   {{product.total}}
                </div>
              </div>
            </div>
            <div class="arrow-slide">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
          </ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger">
            <ion-icon (click)="removeProduct(product.product_id)" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-list>
        <ion-list-header>
        <ion-label><b>Адреса</b></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let address of addresses">
        <ion-icon name="home-outline"  color="primary"></ion-icon>
        <ion-label class="address-line">
          <div class="name">{{ address.short }}
<div *ngIf="address.notice" class="address-note">{{address.notice}}</div>
          </div>
          <div class="check"><ion-toggle aria-label="address.short" (click)="changeDefaultAddress(address.address_id)" [checked]="isDefaultAddress(address.address_id)"></ion-toggle></div>

        </ion-label>
      </ion-item>
      <ion-item *ngIf="show_add_address">
        <ion-label>
          <p>У вас ще немає адреси. Будь ласка додайте адресу.</p>
          <ion-button (click)="addAddress()" expand="full">
            Додати адресу
<ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    <!--Next row-->
    <ion-list-header>
      <ion-label><b>Оплата</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let payment of payments">
      <ion-icon name="{{payment.icon}}" color="primary"></ion-icon>
      <ion-label class="address-line">
        <div class="name">{{ payment.name }}</div><!--  [checked]="" (click)=changePayment-->
        <div class="check"><ion-toggle aria-label="payment.name" (click)="changePayment(payment.payment_id);" [checked]="payment.checked"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-list-header>
      <ion-label><b>Додатково</b></ion-label>
    </ion-list-header>
    <ion-item *ngIf="time_periods != false">
      <ion-icon name="calendar-outline" color="primary"></ion-icon>
      <ion-label (click)="setDateAndTime()" class="date-time-line">

        <div>Дата та час</div>
        <div class="selected-time">{{ selected_date_and_time }}</div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-item >

      <ion-textarea style="display: flex; align-items: center;" [(ngModel)]="comment"  placeholder="Додати коментар"> <ion-icon name="chatbox-outline" style="font-size: 24px;"  color="primary"></ion-icon></ion-textarea>
    </ion-item>
    <!--Next row-->
    <ion-item>
      <ion-icon name="hand-left-outline" color="primary"></ion-icon>
      <ion-label class="address-line">

        <div class="name">Безконтактна доставка</div>
        <div class="check"><ion-toggle aria-label="" (ionChange)="noContactShipping()" [checked]="is_no_contact"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-item>
      <ion-icon name="notifications-off-outline" color="primary"></ion-icon>
      <ion-label class="address-line">

        <div class="name">Не телефонувати</div>
        <div class="check"><ion-toggle aria-label="" (ionChange)="noCall()" [checked]="is_no_call"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-item *ngIf="zastava_status == true">
      <ion-icon name="sync-outline" color="primary"></ion-icon>
      <ion-label>

        <div class="address-line">

        <div class="name">{{ zastava_data.title }}
          <br><small (click)="zastavaModalStatus(true)" class="text-primary">Дізнатись більше</small></div>
        <div class="check"><ion-toggle aria-label="" (ionChange)="zastavaTrigger()" [checked]="is_zastava"></ion-toggle></div>
        </div>
        <div class="zatvava-collapse toggle-{{is_zastava}}">
          <div class="product-line">
            <div class="image">
              <img src="https://skywater.com.ua/assets/theme/img/buy_one_bottle.jpg" alt="">
            </div>
            <div class="caption">
              <h4>Бутель для води</h4>
              <p> {{ zastava_data['cost'] }} грн. <small> / Об'єм 18,9 л.</small></p>
              <div class="total-product">
                <div class="qty">
                  <div class="qty-box">
                    <ion-button (click)="updateZasatava('-');" size="small" fill="clear"><ion-icon name="remove-outline"></ion-icon></ion-button>
                    <p>{{ zastava_qty }}</p>
                    <ion-button (click)="updateZasatava('+');" size="small" fill="clear"><ion-icon name="add-outline"></ion-icon></ion-button>
                  </div>
                </div>
                <div class="total">
                   {{ zastava_total }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="tara_na_obmin_title != ''">
      <ion-icon name="refresh-outline" color="primary"></ion-icon>
      <ion-label class="address-line obmin">
        <div class="name">{{tara_na_obmin_title}}</div>
        <div class="variants">
          <ion-radio-group value="{{tara_na_obmin_selected}}">
            <ion-radio labelPlacement="end" (click)="selectVariantObmin(vari);" justify="start" *ngFor="let vari of tara_na_obmin_variants" value="{{vari}}">{{vari}}</ion-radio><br />
          </ion-radio-group>
        </div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-list-header>
      <ion-label><b>Замовлення загалом</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let total of totals">
      <ion-label class="address-line">
        <div class="caption">{{total.title}}</div>
        <div class="total">{{total.value_format}}</div>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="totals == ''">
      <ion-label>
        <p>Оберіть оплату та доставку</p>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>
        <ion-button (click)="processPayment()" expand="full" shape="round" size="default">Оформити замовлення <ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-label>
    </ion-item>
    </ion-list>

  </ion-list>




<ion-note *ngIf="showEmptyMsg == true" class="ion-text-center ion-justify-content-center empty-cart">
<div>
  <ion-icon name="cart-outline"></ion-icon>
    <p>Ваш кошик порожній<br>
    Саме час додати товари :)</p>
  </div>
</ion-note>

<!--select date time in modal-->
<ion-modal [isOpen]="modal_picker_status">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Оберіть дату та час</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModalPicker()"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding date-time-checkout-picker">
        <h4>Оберіть дату</h4>
        <ion-datetime
        locale="uk-UA"
        [firstDayOfWeek]="1"
        displayFormat="DD.MM.YYYY"
        pickerFormat="DD.MM.YYYY"
        size="cover"
        presentation="date"
        [(ngModel)]="selectedDate"
        min="{{today_day}}"
        ></ion-datetime>
        <div class="time">
          <h4>Оберіть час</h4>
<ion-radio-group [(ngModel)]="selectedTime" value="">
  <ion-radio *ngFor="let time of time_periods" value="{{ time.text }}">{{ time.text }}</ion-radio><br />
</ion-radio-group>
        </div>
        <ion-button (click)="saveDateAndTime()" expand="block">Застосувати</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="zastava_modal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>{{ zastava_data.title }}</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="zastavaModalStatus(false)"><ion-icon name="close-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding" style="text-align:center">
          <div class="zastava-desc" [innerHTML]="zastava_data.description">
          </div>
        </ion-content>
      </ng-template>
    </ion-modal>
</ion-content>
