<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="basket-outline"></ion-icon> Оформлення замовлення</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
     <ion-refresher-content></ion-refresher-content>
   </ion-refresher>

  <ion-list [inset]="true" *ngIf="showEmptyMsg == false">
    <ion-list-header>
      <ion-label><b>Товари</b></ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let product of products">
        <ion-item>
          <ion-label class="product-line">
            <div class="image">
              <img src="{{product.image}}" alt="{{product.name}}">
            </div>
            <div class="caption">
              <h4>{{product.name}}</h4>
              <p *ngIf="product.specials == false"> {{ product.price }} <small *ngIf="product.unit"> /{{product.unit}}</small></p>
              <p *ngIf="product.specials == true">{{ product.special }} <small *ngIf="product.unit"> /{{product.unit}}</small> <span class="old-price">{{ product.price }}</span></p>
              <div class="total-product">
                <div class="qty">
                  <div class="qty-box">
                    <ion-button (click)="updateQuantity(product.product_id, '-');" size="small" fill="clear"><ion-icon name="remove-outline"></ion-icon></ion-button>
                    <p>{{ product.quantity }}</p>
                    <ion-button (click)="updateQuantity(product.product_id, '+');" size="small" fill="clear"><ion-icon name="add-outline"></ion-icon></ion-button>
                  </div>
                </div>
                <div class="total">
                   {{product.total}}
                </div>
              </div>
            </div>
            <div class="arrow-slide">
              <ion-icon name="chevron-back-outline"></ion-icon>
            </div>
          </ion-label>
        </ion-item>

        <ion-item-options>
          <ion-item-option color="danger">
            <ion-icon (click)="removeProduct(product.product_id)" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-list [inset]="true">
        <ion-list-header>
        <ion-label><b>Адреса</b></ion-label>
      </ion-list-header>
      <ion-item *ngFor="let address of addresses">
        <ion-label class="address-line">
          <div class="name">{{ address.short }}</div>
          <div class="check"><ion-toggle aria-label="address.short" (click)="changeDefaultAddress(address.address_id)" [checked]="isDefaultAddress(address.address_id)"></ion-toggle></div>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="show_add_address">
        <ion-label>
          <p>У вас ще немає адреси. Будь ласка додайте адресу.</p>
          <ion-button (click)="addAddress()" expand="full">
            Додати адресу
<ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-label>
      </ion-item>
    <!--Next row-->
    <ion-list-header>
      <ion-label><b>Оплата</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let payment of payments">
      <ion-label class="address-line">
        <div class="name">{{ payment.name }}</div>
        <div class="check"><ion-toggle aria-label="payment.name" (click)="changePayment(payment.payment_id)" [checked]="isSelectedPayment(payment.payment_id)"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-list-header>
      <ion-label><b>Доставка</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let shipping of shippings">
      <ion-label class="address-line">
        <div class="name">{{ shipping.name }} <br><small>- {{ shipping.cost }}</small></div>
        <div class="check"><ion-toggle aria-label="shipping.name" (click)="changeShipping(shipping.shipping_id)" [checked]="isSelectedShipping(shipping.shipping_id)"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="time_periods != false">
      <ion-label (click)="setDateAndTime()" class="date-time-line">
        <div><ion-icon name="calendar-outline"></ion-icon> Дата та час</div>
        <div class="selected-time">{{ selected_date_and_time }}</div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-item>
      <ion-textarea [(ngModel)]="comment" label="Додати коментар" placeholder=""></ion-textarea>
    </ion-item>
    <!--Next row-->
    <ion-item>
      <ion-label class="address-line">
        <div class="name">Безконтактна доставка</div>
        <div class="check"><ion-toggle aria-label="" (click)="noContactShipping()" [checked]="is_no_contact"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-item>
      <ion-label class="address-line">
        <div class="name">Не телефонувати</div>
        <div class="check"><ion-toggle aria-label="" (click)="noCall()" [checked]="is_no_call"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-item>
      <ion-label class="address-line">
        <div class="name">Застава за тару</div>
        <div class="check"><ion-toggle aria-label="" (click)="zastavaTrigger()" [checked]="is_zastava"></ion-toggle></div>
      </ion-label>
    </ion-item>
    <!--Next row-->
    <ion-list-header>
      <ion-label><b>Замовлення загалом</b></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let total of totals">
      <ion-label class="address-line">
        <div class="caption">{{total.title}}</div>
        <div class="total">{{total.value_format}}</div>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="totals == ''">
      <ion-label>
        <p>Оберіть оплату та доставку</p>
      </ion-label>
    </ion-item>


    <ion-item>
      <ion-label>
        <ion-button [disabled]="disablePaymentButton" (click)="processPayment()" expand="full">Оформити замовлення <ion-icon name="checkmark-circle-outline"></ion-icon></ion-button>
      </ion-label>
    </ion-item>
    </ion-list>

  </ion-list>




<ion-note *ngIf="showEmptyMsg == true" class="ion-text-center ion-justify-content-center empty-cart">
<div>
  <ion-icon name="cart-outline"></ion-icon>
    <p>Ваш кошик порожній<br>
    Саме час додати товари :)</p>
  </div>
</ion-note>

<!--select date time in modal-->
<ion-modal [isOpen]="modal_picker_status">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Оберіть дату та час</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModalPicker()"><ion-icon name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding date-time-checkout-picker">
        <h4>Оберіть дату</h4>
        <ion-datetime
        displayFormat="DD.MM.YYYY"
        pickerFormat="DD.MM.YYYY"
        size="cover"
        presentation="date"
        [(ngModel)]="selectedDate"
        ></ion-datetime>
        <div class="time">
          <h4>Оберіть час</h4>
<ion-radio-group [(ngModel)]="selectedTime" value="">
  <ion-radio *ngFor="let time of time_periods" value="{{ time.text }}">{{ time.text }}</ion-radio><br />
</ion-radio-group>
        </div>
        <ion-button (click)="saveDateAndTime()" expand="block">Застосувати</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
