ion-note.ion-text-center {
    display: flex;
    align-items: center;
    height: 100%;
}
.empty-cart ion-icon {
    font-size: 8rem;
    color: #ddd;
}
ion-title ion-icon {
    vertical-align: top;
}
.product-line {
    display: flex;
}
.product-line .image {
    max-width: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-right: 10px;
}
.product-line .arrow-slide {
    display: flex;
    align-items: center;
    width: 14px;
    color: #878787;
}
.product-line .caption {
    width: 100%;
}
.product-line .caption h4 {
    color: #444;
    font-weight: 600;
}
.total-product {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    align-items: center;
}
.qty-box {
    display: flex;
    color: #3880ff;
    border: 1px solid #fff;
    border-radius: 5px;
    align-items: center;
}
.qty-box ion-icon {
    color: #3880ff;
}
.qty-box {
    display: flex;
    color: #3880ff;
    border: 1px solid #3880ff;
    border-radius: 5px;
    align-items: center;
}
.qty-box p {
    min-width: 20px;
    text-align: center;
    margin: 0px;
}
span.old-price {
    padding-left: 10px;
    font-size: 80%;
    color: red;
    text-decoration: line-through;
}
.total-product .total {
    font-weight: 600;
    color: #3880ff;

}
.address-line .name{
  width:100%
}
.address-line .check{
  min-width:54px
}
.address-line {
    display: flex;
    align-items: center;
}
.address-line .total {
    font-weight: 600;
    white-space: nowrap;
}
.address-line .caption {
    width: 100%;
}
.date-time-checkout-picker ion-radio {
  display: block;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
}
ion-label.date-time-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ion-label.date-time-line .selected-time {
    font-size: 0.9rem;
    color: #444;
}
.zatvava-collapse .product-line {
      margin: 10px 0px;
    background: #f0f6fa;
    padding: 10px;
    border-radius: 15px;
}
.toggle-false.zatvava-collapse {
    transition: all .4s ease;
    visibility: hidden;
    height: 0px;
    opacity: 0;
}
.toggle-true.zatvava-collapse {
    visibility: visible;
    height: 100%;
    transition: all .4s ease;
}
.text-primary {
    color: #3880ff;
}
.zastava-desc .image-centered, .image-centered {
    display: block;
    margin: auto;
    text-align: center;
}
.image-centered {
    text-align: center;
}
.zastava-desc p, .zastava-desc ul {
    text-align: left;
}
