ion-list.address-list ion-label {
    display: flex;
    justify-content: space-between;
}
ion-icon.slide-icon {
    color: #cdcdcd;
}
ion-note.ion-text-center {
    display: flex;
    align-items: center;
    height: 100%;
}
