<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="chatbubble-ellipses-outline"></ion-icon> Чат</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
  <ion-item class="chat-item from-admin">
    <ion-label>
      <div class="data">
        <p>Pokémon Yellow Pokémon Yellow Pokémon Yellow</p>
        <span>2024.01.01</span>
        <ion-icon class="icon-label" name="caret-back-outline"></ion-icon>
      </div>
    </ion-label>
  </ion-item>
  <ion-item class="chat-item from-im">
    <ion-label>
    <div class="data">
      <p>Pokémon Yellow Pokémon Yellow Pokémon Yellow</p>
      <span>2024.01.01</span>
      <ion-icon class="icon-label" name="caret-forward-outline"></ion-icon>
    </div>
  </ion-label>
  </ion-item>
</ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="text-box">
      <ion-item>
  <ion-textarea placeholder="Enter your comments">
    <ion-button class="button-send-msg" color="primary" slot="end">
      <ion-icon slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>
  </ion-textarea>
</ion-item>
    </div>
  </ion-toolbar>
</ion-footer>
