ion-note.ion-text-center {
    display: flex;
    align-items: center;
    height: 100%;
}
ion-card.product-item ion-card-title {
    font-size: 2rem;
    font-weight: 600;
    color: #3880ff;
    height: 43px;
    align-items: center;
    display: flex;
    overflow: hidden;
}
ion-card.product-items {
    box-shadow: none;
    border-radius: 10px;
    margin: 5px 0;
    display: flex;


}
ion-row.product-item {
    display: flex;
    align-content: space-between;
    align-items: center;
}
.price {
    color: #3880ff;
    font-size: 24px;
    font-weight: 800;
}
span.new-price {
    color: #27b927;
    font-weight: 600;
}
span.old-price {
    color: #b61717;
    text-decoration: line-through;
    font-size: 12px;
    padding-left:5px;
}
ion-button.btn-cart {
    margin-top: 10px;
}
.qr-code ion-card {
    box-shadow: none;
    border-radius: 10px;
}
ion-progress-bar{min-height:8px}
.text-shop {
    margin-top: 25px;
}
.bonuses{
  margin-bottom:25px
}
.text-shop ion-card, .bonuses ion-card{
    box-shadow: none;
    border-radius: 10px;
}
.scanner {
  padding-inline-start: var(--ion-padding, 16px);
  padding-inline-end: var(--ion-padding, 16px);
}
.scanner p.err-notice {
    text-align: center;
    color: #eb445a;
    font-size: 13px;
}
.barcode-scanner-active ion-content {
  --background: transparent !important;
}
.barcode-scanner-active, .barcode-scanner-active > *, .barcode-scanner-active * {
  visibility: hidden !important;
  --background: transparent !important;
  --ion-background-color: transparent !important;
}

// Show only the barcode scanner modal
.barcode-scanner-modal {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .barcode-scanner-modal {
    --background: transparent;
    --ion-background-color: transparent;
  }
}
span.bonus-text {
    position: absolute;
    top: 33%;
    left: 31%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.bottles-svg {
    position: relative;
}

.bottles {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0;
}
span.bonus-text b {
    font-size: 24px;
    color: #3880ff;
}
.bottles-img {
    background: white;
    border-radius: 37px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
}
.bottles-count {
    display: flex;
    justify-content: space-evenly;
}
.bottles-img b {
    padding: 8px;
}
.bottles-img ion-icon {
    padding: 0px 5px 0px 10px;
    font-size: 20px;
    color: #3880ff;
}
.bottles-img ion-icon.md.hydrated:first-child {
    font-size: 30px;
}
.bottles-svg svg {
    transform: rotate(-90deg);
}
