<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="storefront-outline"></ion-icon> Магазин</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<div class="content" *ngIf="show_empty != true">

  <div class="bottles">
    <div class="bottles-count">
    <div class="bottles-img"><ion-icon name="water-outline"></ion-icon> <b>{{count_liters}}</b> літрів <ion-icon name="alert-circle-outline" (click)="openmyLitModal()"></ion-icon></div>
    </div>
<div class="bottles-svg">
<svg [attr.class]="svg_class" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
<circle class="circle-chart__background" stroke="#fff" stroke-width="30" fill="none" cx="75" cy="75" r="60" />
<circle id="progress-line" class="circle-chart__circle" stroke="#3880ff" stroke-width="30" [attr.stroke-dasharray]="progress_l" stroke-linecap="round" fill="none" cx="75" cy="75" r="60" />
</svg>
<span class="bonus-text"><b>{{to_next_bonus_liter}}/{{bonus_step_l}}</b><small>літрів</small></span>
</div>
</div>

  <div *ngIf="button_scanner_status == true" class="scanner">
    <!--[disabled]="!isSupported" -->
    <ion-button shape="round" (click)="scanTestTwo()" expand="block">Відсканувати QR <ion-icon name="cart-outline"></ion-icon></ion-button>
    <ion-button shape="round" *ngIf="description_how_to != ''" id="scan-trigger" expand="block" fill="outline" size="small">Докладніше <ion-icon name="help-outline"></ion-icon></ion-button>
<ion-popover trigger="scan-trigger" triggerAction="click" *ngIf="description_how_to != ''">
  <ng-template>
    <ion-content class="ion-padding">{{description_how_to}}</ion-content>
  </ng-template>
</ion-popover>
    <p *ngIf="isSupported === false" class="err-notice">Ваш пристрій не підтримує сканер QR коду</p>
	
  </div>

  <div class="qr-code">
  <ion-card class="ion-text-center">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Покажіть цей код нашому менеджеру</ion-card-subtitle>
    </ion-card-header>
    <img src="{{qrcode}}">

  </ion-card>
  </div>

  <div class="text-shop" *ngIf="text_text != false">
  <ion-card>
    <ion-card-header *ngIf="text_title != false" class="ion-text-center">
      <ion-card-title>{{text_title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content [innerHTML]='text_text'>
    </ion-card-content>
  </ion-card>
  </div>
</div>
<ion-col size="12" *ngIf="prices != ''">
  <ion-card *ngFor="let item of prices" class="product-items">
      <ion-row class="product-item">
        <ion-col size="3">
          <ion-card-content>
          <div class="image">
            <img src="{{ item.image }}" alt="{{ item.title }}"  />
          </div>
        </ion-card-content>
        </ion-col>
        <ion-col size="9">
          <ion-card-content class="ion-no-padding">
          <ion-card-title  class="products-title ion-text-center ion-padding-top">{{ item.title }}</ion-card-title>
          <ion-card-subtitle class="price ion-text-center ion-padding-top">{{ item.price }}</ion-card-subtitle>
        </ion-card-content>
        </ion-col>
        <ion-card-content>{{ item.description }}</ion-card-content>
      </ion-row>
  </ion-card>
</ion-col>
  <ion-note *ngIf="show_empty == true" class="ion-text-center ion-justify-content-center">
Будь ласка, увійдіть в свій особистий кабінет або зареєструйтесь.
  </ion-note>
  <ion-modal [isOpen]="myLitreModal" (onDidDismiss)="closemyLitModal()" [canDismiss]="!myLitreModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{modal_bl_title}}</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closemyLitModal()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content  class="ion-padding ion-align-items-center" >
        <div [innerHTML]="modal_bl_content"></div>
      </ion-content>
    </ng-template>
  </ion-modal> 
</ion-content>
<div id="scanner-overlay" class="scanner-overlay hidden">
  <div class="scanner-frame">
    <div class="scanner-line"></div>
  </div>
</div>
