ion-note.ion-text-center {
    display: flex;
    align-items: center;
    height: 100%;
}
ion-card.product-item ion-card-title {
    font-size: 1rem;
    font-weight: 600;
    color: #3880ff;
    height: 43px;
    align-items: center;
    display: flex;
    overflow: hidden;
}
span.new-price {
    color: #27b927;
    font-weight: 600;
}
span.old-price {
    color: #b61717;
    text-decoration: line-through;
    font-size: 12px;
    padding-left:5px;
}
ion-button.btn-cart {
    margin-top: 10px;
}
.qr-code ion-card {
    box-shadow: none;
    border-radius: 10px;
}
ion-progress-bar{min-height:8px}
