<ion-content [fullscreen]="true" class="ion-padding">
<div class="content" *ngIf="show_empty != true">
  <div class="bonuses">
    <ion-card>
    <ion-card-content>
      <h4>Ви накопичили: <b>{{count_liters}}</b> бонусних літрів</h4>
     <ion-progress-bar [value]="progress_ll"></ion-progress-bar>
     <p>*до наступного бонусного літру вам потрібно купити {{to_next_l}} літрів очищеної води</p>
    </ion-card-content>
  </ion-card>
  </div>

  <div class="qr-code">
  <ion-card class="ion-text-center">
    <img src="{{qrcode}}">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle>Покажіть цей код нашому менеджеру</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  </div>
</div>
  <ion-note *ngIf="show_empty == true" class="ion-text-center ion-justify-content-center">
Будь ласка, увійдіть в свій особистий кабінет або зареєструйтесь.
  </ion-note>
</ion-content>
