.bottles-svg svg {
    transform: rotate(-90deg);
}
.slide-el img {
    border-radius: 10px;
}
.slide-el{
	position:relative;
}
.slide-el ion-button.button {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    right: 5px;
}
.swiper-button-next, .swiper-button-prev {
    display: none;
}
.in-segment {
    background: #ffffff;
    margin-right: 10px;
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    text-transform: math-auto;
}
.price {
    color: #3880ff;
    font-size: 16px;
    font-weight: 600;
}
span.new-price {
    color: #F44336;
    font-weight: 600;
    font-size: 16px;
}
span.old-price {
    color: #3a3a3a;
    text-decoration: line-through;
    font-size: 12px;
    padding-left:5px;
}
ion-button.btn-cart {
    margin-top: 10px;
    text-transform: math-auto;
}
ion-card-title.products-title {
    font-size: 1rem;
    font-weight: 600;
    color: #444444;
    align-items: center;
    display: flex;
    overflow: hidden;
}
span.bonus-text {
    position: absolute;
    top: 33%;
    left: 31%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.bottles-svg {
    position: relative;
}

.bottles {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0;
}
span.bonus-text b {
    font-size: 30px;
    color: #3880ff;
}
ion-card.product-items {
    box-shadow: none;
    border-radius: 10px;
    margin: 5px 0;

}
ion-row.product-item {
    display: flex;
    align-items: center;
}
ion-card.home_text{
    margin: 0;
    box-shadow: none;
    border-radius: 10px;
    margin-top: 10px;
}
.empty-products {
    padding: 10px;
    text-align: center;
    display: block;
    margin: auto;
    color: #444;
}
.empty-products ion-icon {
    font-size: 3.5rem;
    display: block;
    margin: 0px auto 5px auto;
    color: #cbdbe6;
}
.bottles-img {
    background: white;
    border-radius: 37px;
    display: flex;
    align-items: center;
    padding: 5px 15px;
}
.bottles-count {
    display: flex;
    justify-content: space-evenly;
}
.bottles-img b {
    padding: 8px;
}
.bottles-img ion-icon {
    padding: 0px 5px 0px 10px;
    font-size: 20px;
    color: #3880ff;
}
.bottles-img ion-icon.md.hydrated:first-child {
    font-size: 30px;
}