<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
	<section class="top-slider">
  <swiper-container pagination="true" navigation="false" autoplay="2000" loop="true" effect="fade">
		<swiper-slide *ngFor="let slide of sliderItems" class="swiperSlide">
			<div class="slide-el">
			<img src="{{ slide['src'] }}">

			</div>
		</swiper-slide>
	</swiper-container>
  </section>

	  <ion-card-header>
		<ion-card-title class="ion-text-center">Мої бонуси</ion-card-title>
	  </ion-card-header>


<div class="bottles">
<div class="bottles-svg">
<svg [attr.class]="svg_class" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
  <circle class="circle-chart__background" stroke="#fff" stroke-width="30" fill="none" cx="75" cy="75" r="60" />
  <circle id="progress-line" class="circle-chart__circle" stroke="#3880ff" stroke-width="30" [attr.stroke-dasharray]="progress" stroke-linecap="round" fill="none" cx="75" cy="75" r="60" />
</svg>
<span class="bonus-text"><b>{{bonuses_boutles}}</b><small>бутелів</small><small>4/10</small></span>
</div>

<div class="bottles-svg">
<svg [attr.class]="svg_class" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
  <circle class="circle-chart__background" stroke="#fff" stroke-width="30" fill="none" cx="75" cy="75" r="60" />
  <circle id="progress-line" class="circle-chart__circle" stroke="#3880ff" stroke-width="30" [attr.stroke-dasharray]="progress_l" stroke-linecap="round" fill="none" cx="75" cy="75" r="60" />
</svg>
<span class="bonus-text"><b>{{bonuses_liters}}</b><small>літрів</small><small>4/10</small></span>
</div>
</div>

<ion-card-header>
  <ion-card-title class="ion-text-center">Доставка</ion-card-title>
  </ion-card-header>



<div *ngIf="is_auto_category == true">
  <ion-segment value="default" [scrollable]="true">
    <ion-segment-button *ngFor="let category of categories" (click)="loadCategory(category.category_id)" value="category-{{ category.category_id }}">
      <ion-label>{{ category.name }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="products-on-category">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <div class="empty-products" *ngIf="showEmptyMsg == true">
<ion-icon name="search-circle-outline"></ion-icon>
          В цій категорії ще немає товарів...</div>
        <ion-col *ngIf="!products.length && showEmptyMsg == false" size="12">
          <ion-card class="product-items">

              <ion-row class="product-item">
                <ion-col size="4">
                  <ion-card-content>
                  <div class="image">
                    <ion-thumbnail slot="start" style="width:100%">
                      <ion-skeleton-text style="width:100%" [animated]="true"></ion-skeleton-text>
                    </ion-thumbnail>
                  </div>
                </ion-card-content>
                </ion-col>
                <ion-col size="8">
                  <ion-card-content>
                  <ion-skeleton-text [animated]="true" style="width: 80%;margin-bottom: 10px;"></ion-skeleton-text>
                  <ion-skeleton-text [animated]="true" style="width: 40%;margin-bottom: 10px;"></ion-skeleton-text>
                  <ion-skeleton-text [animated]="true" style="width: 30%;margin-bottom: 10px;"></ion-skeleton-text>
                  <ion-skeleton-text [animated]="true" style="width: 50px"></ion-skeleton-text>
                </ion-card-content>
                </ion-col>
              </ion-row>

          </ion-card>
        </ion-col>
          <ion-col *ngFor="let product of products" size="12">
            <ion-card class="product-items">

                <ion-row class="product-item">
                  <ion-col size="4">
                    <ion-card-content>
                    <div class="image">
                      <img src="{{product.image}}" alt="{{product.name}}" (click)="openProduct(product.product_id)" />
                    </div>
                  </ion-card-content>
                  </ion-col>
                  <ion-col size="8">
                    <ion-card-content>
                    <ion-card-title (click)="openProduct(product.product_id)" class="products-title">{{ product.name }}</ion-card-title>
                    <ion-card-subtitle *ngIf="product.unit" > {{ product.unit }}</ion-card-subtitle>
                    <ion-card-subtitle *ngIf="product.specials == false" class="price">{{ product.price }}</ion-card-subtitle>
                    <ion-card-subtitle *ngIf="product.specials == true"><span class="new-price">{{ product.special }}</span> <span class="old-price">{{ product.price }}</span></ion-card-subtitle>
                    <div class="add-cart-button">
                      <ion-button shape="round" class="btn-cart" (click)="addCart(product.product_id, 1)"><ion-icon slot="start" name="cart-outline"></ion-icon> В кошик</ion-button>
                    </div>
                  </ion-card-content>
                  </ion-col>
                </ion-row>

            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</div>
<div *ngIf="is_auto_category == false">
  <ion-segment [scrollable]="true" value="{{ getActiveTab }}">
    <ion-segment-button (click)="setProducts(cat['category_id'])" *ngFor="let cat of categoryProducts" value="category-{{ cat['category_id'] }}">
      {{ cat['name'] }}
    </ion-segment-button>
  </ion-segment>
  <div class="product-to-category">
    <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col *ngFor="let product of productToCat" size="6">
      <ion-card class="product-item">
        <img alt="{{ product.name }}" src="{{ product.image }}" (click)="openProduct(product.product_id)" />
      <ion-card-content>
        <ion-card-title (click)="openProduct(product.product_id)">{{ product.name }}</ion-card-title>
        <ion-card-subtitle *ngIf="product.unit" class="ion-text-center"> {{ product.unit }}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="product.specials == false" class="price">{{ product.price }}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="product.specials == true"><span class="new-price">{{ product.special }}</span> <span class="old-price">{{ product.price }}</span></ion-card-subtitle>
        <div class="add-cart-button">
        <ion-button expand="full" shape="round" class="btn-cart" (click)="addCart(product.product_id, 1)"><ion-icon slot="start" name="cart-outline"></ion-icon> В кошик</ion-button>
        </div>
      </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
  </div>
</div>

<ion-card class="home_text" *ngIf="home_text != false">
  <ion-card-header *ngIf="home_text_title != false">
    <ion-card-title>{{ home_text_title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content [innerHTML]='home_text'>
  </ion-card-content>
</ion-card>

  </ion-content>

</ion-content>
