
.slide-el img {
    border-radius: 10px;
}
.slide-el{
	position:relative;
}
.slide-el ion-button.button {
    position: absolute;
    bottom: 10px;
    z-index: 2;
    right: 5px;
}
.swiper-button-next, .swiper-button-prev {
    display: none;
}
ion-card.product-item ion-card-title {
    font-size: 1rem;
    font-weight: 600;
    color: #3880ff;
    height: 43px;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.price {
    color: #3880ff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
span.new-price {
    color: #27b927;
    font-weight: 600;
}
span.old-price {
    color: #3a3a3a;
    text-decoration: line-through;
    font-size: 12px;
    padding-left:5px;
}
ion-button.btn-cart {
    margin-top: 10px;
}
.category-products ion-title {
    font-weight: 600;
    display: block;
    text-align: center;
    color: #3880ff;
    margin: 20px 0px 10px;
    font-size: 2rem;
}
span.bonus-text {
    position: absolute;
    top: 28%;
    left: 38%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
.bottles-svg {
    position: relative;
}

.bottles {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 16px 0;
}
span.bonus-text b {
    font-size: 30px;
    color: #3880ff;
}
ion-card.product-item {
    box-shadow: none;
    border: 1px solid #3880ff40;
    border-radius: 10px;
}