<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
	<section class="top-slider">
  <swiper-container pagination="true" navigation="false" autoplay="2000" loop="true" effect="fade">
		<swiper-slide *ngFor="let slide of sliderItems" class="swiperSlide">
			<div class="slide-el">
			<img src="{{ slide['src'] }}">
			
			</div>
		</swiper-slide>
	</swiper-container>
  </section>

	  <ion-card-header>
		<ion-card-title class="ion-text-center">Мої бонуси</ion-card-title>
	  </ion-card-header>


<div class="bottles">  
<div class="bottles-svg">
<svg [attr.class]="svg_class" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
  <circle class="circle-chart__background" stroke="#efefef" stroke-width="30" fill="none" cx="75" cy="75" r="60" />
  <circle id="progress-line" class="circle-chart__circle" stroke="#3880ff" stroke-width="30" [attr.stroke-dasharray]="progress" stroke-linecap="round" fill="none" cx="75" cy="75" r="60" />
</svg>
<span class="bonus-text"><b>{{bonuses_boutles}}</b><small>бутелів</small><small>4/10</small></span>
</div>

<div class="bottles-svg">
<svg [attr.class]="svg_class" viewbox="0 0 33.83098862 33.83098862" width="150" height="150" xmlns="http://www.w3.org/2000/svg">
  <circle class="circle-chart__background" stroke="#efefef" stroke-width="30" fill="none" cx="75" cy="75" r="60" />
  <circle id="progress-line" class="circle-chart__circle" stroke="#3880ff" stroke-width="30" [attr.stroke-dasharray]="progress_l" stroke-linecap="round" fill="none" cx="75" cy="75" r="60" />
</svg>
<span class="bonus-text"><b>{{bonuses_liters}}</b><small>літрів</small><small>4/10</small></span>
</div>
</div>

<ion-card-header>
  <ion-card-title class="ion-text-center">Доставка</ion-card-title>
  </ion-card-header>


  <ion-segment [scrollable]="true" value="{{ getActiveTab }}">
    <ion-segment-button (click)="setProducts(cat['category_id'])" *ngFor="let cat of categoryProducts" value="category-{{ cat['category_id'] }}">
      {{ cat['name'] }}
    </ion-segment-button>
  </ion-segment>
  <div class="product-to-category">
    <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col *ngFor="let product of productToCat" size="6">
      <ion-card class="product-item">
        <img alt="{{ product.name }}" src="{{ product.image }}" (click)="openProduct(product.product_id)" />
      <ion-card-content>
        <ion-card-title (click)="openProduct(product.product_id)">{{ product.name }}</ion-card-title>
        <ion-card-subtitle *ngIf="product.unit" class="ion-text-center"> {{ product.unit }}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="product.specials == false" class="price">{{ product.price }}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="product.specials == true"><span class="new-price">{{ product.special }}</span> <span class="old-price">{{ product.price }}</span></ion-card-subtitle>
        <div class="add-cart-button">
        <ion-button expand="full" shape="round" class="btn-cart" (click)="addCart(product.product_id, 1)"><ion-icon slot="start" name="cart-outline"></ion-icon> В кошик</ion-button>
        </div>
      </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
  </div>


<ion-card class="home_text" *ngIf="home_text != false">
  <ion-card-header *ngIf="home_text_title != false">
    <ion-card-title>{{ home_text_title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content [innerHTML]='home_text'>
  </ion-card-content>
</ion-card>

  </ion-content>

</ion-content>
