<ion-header>
  <ion-toolbar *ngIf="customer_id != 0">
    <ion-title>{{ customer_name }}</ion-title>
    <ion-buttons slot="end">
    <ion-button fill="solid" (click)="logout()" shape="round"  size="small" color="primary">Вийти
<ion-icon name="log-out-outline" solt="end"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
     <ion-refresher-content></ion-refresher-content>
   </ion-refresher>

<div class="my-acc" *ngIf="customer_id != 0">
<ion-list lines="none">

    <ion-item (click)="openMyAccModal()">
      <ion-label><span class="icon"><ion-icon name="person-outline"></ion-icon></span> Мої дані</ion-label></ion-item>
    <ion-item (click)="openAddresses()">
      <ion-label><span class="icon"><ion-icon name="navigate-outline"></ion-icon></span> Адреси доставки</ion-label></ion-item>
    <ion-item (click)="openOrdersPage()">
      <ion-label><span class="icon"><ion-icon name="cart-outline"></ion-icon></span> Мої замовлення</ion-label></ion-item>
    <ion-item *ngIf="bonus_history_status == true" (click)="toggleBonusesHistory(true)">
      <ion-label><span class="icon"><ion-icon name="gift-outline"></ion-icon></span> Історія бонусів</ion-label></ion-item>
    <ion-item (click)="getQr()">
        <ion-label><span class="icon"><ion-icon name="qr-code-outline"></ion-icon></span> Мій QR</ion-label></ion-item>
    <ion-item class="remove-acc" (click)="toggleAlertRemoveAcc()">
        <ion-label><span class="icon"><ion-icon name="trash-outline"></ion-icon></span> Видалити мій акаунт</ion-label></ion-item>
</ion-list>
</div>

<ion-modal [isOpen]="myAccountModal" (onDidDismiss)="closeMyAccModal()" [canDismiss]="!myAccountModal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Мої дані</ion-title>
          <ion-buttons slot="start">
            <ion-button (click)="closeMyAccModal()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding ion-align-items-center">

        <ion-input label="Ім'я *" type="text" label-placement="floating" fill="solid" placeholder="Ваше Ім'я" name="firstname" [(ngModel)]="acc_firstname"></ion-input>
        <br>
        <ion-input label="Прізвище *" type="text" label-placement="floating" fill="solid" placeholder="Ваше прізвище" name="lastname" [(ngModel)]="acc_lastname"></ion-input>
        <br>
        <ion-input label="Телефон *" type="tel" [maskito]="phoneMask" [maskitoElement]="maskPredicate"  placeholder="+380 12 345 67 39" label-placement="floating" fill="solid" placeholder="Ваш телефон" name="phone" [(ngModel)]="acc_phone"></ion-input>
        <br>
        <ion-input label="Email" type="email" label-placement="floating" fill="solid" placeholder="Email" name="email" [(ngModel)]="acc_email"></ion-input>
        <br>
        <ion-input label="Старий пароль" type="password" label-placement="floating" fill="solid" placeholder="Старий пароль" name="old_password" [(ngModel)]="acc_old_password"></ion-input>
        <br>
        <ion-input label="Пароль *" type="password" label-placement="floating" fill="solid" placeholder="Пароль" name="password" [(ngModel)]="acc_password"></ion-input>
        <small>Залиште пустим якщо не бажаєте міняти пароль.</small>
        <br><br>
        <ion-button color="primary" shape="round" (click)="updateProfile();" expand="full" >Оновити</ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal [isOpen]="showQrModal" (onDidDismiss)="closeQrModal()" [canDismiss]="!showQrModal">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Ваш QR код</ion-title>
            <ion-buttons slot="start">
              <ion-button (click)="closeQrModal()"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding ion-align-items-center" >
          <ion-img
            class="qr-image"
            src="{{qr_url}}"
            alt="{{customer_name}}"
          ></ion-img>
        </ion-content>
      </ng-template>
    </ion-modal>
  <ion-modal *ngIf="bonus_history_status == true" [isOpen]="bonus_history_modal" [canDismiss]="!bonus_history_modal" (onDidDismiss)="toggleBonusesHistory(false)">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="toggleBonusesHistory(false)"><ion-icon name="chevron-back-outline"></ion-icon></ion-button>
            </ion-buttons>
            <ion-segment value="bottle">
      <ion-segment-button (click)="updateBonusHistory('bottle')" value="bottle">
        <ion-label>Бутеля</ion-label>
      </ion-segment-button>
      <ion-segment-button (click)="updateBonusHistory('liter')" value="liter">
        <ion-label>Літри</ion-label>
      </ion-segment-button>
    </ion-segment>
          </ion-toolbar>
        </ion-header>
        <ion-content class=" ion-align-items-center" >
          <ion-list [inset]="true" class="bonus-history">
             <ion-item *ngFor="let his of bonusHistories">
               <ion-label>
                 <div class="bhistory-item">
                   <div class="date">{{his.date_added}}</div>
                   <div class="caption">{{his.text}}</div>
                   <div class="count item-{{his.type}}">{{his.count}}</div>
                 </div>
               </ion-label>
             </ion-item>
             <ion-item *ngIf="bonusHistories == ''">
               <ion-label class="ion-text-center">
                 Історія порожня...<br>Час створити замовлення :)
               </ion-label>
             </ion-item>
           </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>

</ion-content>
