span.icon {
    padding: 5px 10px;
    background: #f4f5f8;
    border-radius: 0.25rem;
    margin-right: 5px;
}
span.icon > ion-icon {
    vertical-align: text-bottom;
}
ion-item.remove-acc {
    font-size: 12px;
    color: #a32636;
}
