/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* prev version
.barcode-scanner-active ion-content {
  --background: transparent !important;
}
.barcode-scanner-active {
  visibility: hidden !important;
  --background: transparent !important;
  --ion-background-color: transparent !important;
}

// Show only the barcode scanner modal
.barcode-scanner-modal {
  visibility: visible;
}

@media (prefers-color-scheme: dark) {
  .barcode-scanner-modal {
    --background: transparent;
    --ion-background-color: transparent;
  }
}

*/

/* Коли активний сканер — робимо фон прозорим */
.barcode-scanner-active ion-content {
  --background: transparent !important;
  --ion-background-color: transparent !important;
}

/* НЕ приховувати visibility! */
.barcode-scanner-active {
  visibility: hidden;
  --background: transparent;
  --ion-background-color: transparent;
}
.barcode-scanner-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  pointer-events: none;
}

/* Головна затемнена підкладка */
.scanner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65); /* напівпрозорий фон */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
}

/* Сховати */
.scanner-overlay.hidden {
  display: none !important;
}

/* Прозорий квадрат у центрі */
.scanner-frame {
  position: relative;
  width: 260px;
  height: 260px;
  background: transparent;

  /* Вирізуємо прозорий квадрат у затемненому фоні */
  box-shadow:
    0 0 0 9999px rgba(0, 0, 0, 0.65); /* створює виріз */
  border-radius: 16px;
  overflow: hidden;
  border: 2px solid #00e676; /* зелена рамка (можна змінити) */
}

/* Анімаційна лінія */
.scanner-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #00e676;
  animation: scan-line 2s linear infinite;
}

@keyframes scan-line {
  0%   { top: 0; }
  100% { top: 100%; }
}
