ion-note.ion-text-center {
    display: flex;
    align-items: center;
    height: 100%;
}
ion-list.orders-list .order-line {
    display: flex;
    align-items: center;
}
.order-line .num {
    min-width: 70px;
}
.product-item p {
    display: block;
    font-weight: 600;
    font-size: 0.95rem;
    margin-bottom: 6px;
}
.product-item .qty {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.7rem;
}
.right-side {
    font-weight: 600;
    font-size: 0.8rem;
}
.total-item {
    display: flex;
    justify-content: space-between;
}
.history-item ion-icon {
    vertical-align: bottom;
    color: #969696;
    margin-right: 5px;
    font-size: 1.2rem;
}
.loader span{color: #5260ff;}
.loader {
    text-align: center;
}
.loader ion-spinner {
    vertical-align: middle;
    min-width: 42px;
    min-height: 40px;
    margin-right: 10px;
    color: #5260ff;
}
